# Дашборд для Яндекс.Дзен

В данной тетради Jupyter Notebook хранится код для подготовительного этапа создания дашборда: выгрузка данных из БД, проверка на корректность полученных данных, сохранение в файл для дальнейшей работы в Tableau

### Загрузка библиотек

# для корректной работы необходимо загрузить библиотеки
pip install SQLAlchemy
pip3 install psycopg2-binary

In [1]:
import pandas as pd

# для подключения к базе
from sqlalchemy import create_engine

### Подключение к БД и загрузка необходимой информации

In [2]:
# задаём параметры подключения к БД
db_config = {'user': 'praktikum_student', # имя пользователя
             'pwd': 'Sdf4$2;d-d30pp', # пароль
             'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
             'port': 6432, # порт подключения
             'db': 'data-analyst-zen-project-db'} # название базы данных

# формируем строку соединения с БД
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'], 
                                                         db_config['pwd'], 
                                                         db_config['host'], 
                                                         db_config['port'], 
                                                         db_config['db'])
# подключаемся к БД
engine = create_engine(connection_string)

In [3]:
# формируем sql-запрос
query = ''' SELECT * 
            FROM dash_visits
        '''

#
dash_visits = pd.io.sql.read_sql(query, con = engine, index_col='record_id')

### Базовая проверка данных на корректность

In [4]:
# изучем полученные данные
# автоматизируем процесс с помощью функции
def df_info(data):
    display(data.head(3))
    print()
    display(data.info())
    print("\033[34m{} \033[0m{}".format("Количество дубликатов:", data.duplicated().sum()))

In [5]:
df_info(dash_visits)

          item_topic source_topic age_segment                  dt  visits
record_id
1040597       Деньги         Авто       18-25 2019-09-24 18:32:00       3
1040598       Деньги         Авто       18-25 2019-09-24 18:35:00       1
1040599       Деньги         Авто       18-25 2019-09-24 18:54:00       4

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30745 entries, 1040597 to 1071341
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   item_topic    30745 non-null  object
 1   source_topic  30745 non-null  object
 2   age_segment   30745 non-null  object
 3   dt            30745 non-null  datetime64[ns]
 4   visits        30745 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.4+ MB

None

Количество дубликатов: 0

In [12]:
print('Данные за период с {} по {}'.format(dash_visits['dt'].min(), dash_visits['dt'].max()))

Данные за период с 2019-09-24 18:28:00 по 2019-09-24 19:00:00

### Выводы
Полученные данные отображают информацию о количестве визитов на сайте Яндекс.Дзен для карточек в разных тематиках (с учетом `source_topic` и возрастной категории) за 24 сентября 2019 с 18:28 до 19:00.  
  
Типы данных отображены корректно, дубликатов не обнаружино.

### Сохраним файл с данными

# в формате '.csv'
dash_visits.to_csv('dash_visits.csv')